{% extends 'site.html.twig' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
  {{ include(':Site:_top_banner.html.twig') }}
  <section class="clearfix interestArea">
    <div class="container">
      <div class="page-header text-center">
        <h2>{{ 'What are You Interested in?'|trans(domain = 'home') }} <small>{{ 'Explore and download from'|trans(domain = 'home') }} <strong>{{ project_name }}</strong> {{ 'by'|trans(domain = 'home') }} <em>{{ organization_name }}</em></small></h2>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track A
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track B
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track C
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track D
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track E
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track F
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-open-book"></i>Track G
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="" class="interestContent">
            <span>
                <i class="icon-listy icon-more"></i>{{ 'View All'|trans(domain = 'home') }}
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}