{% trans_default_domain 'FOSUserBundle' %}
<section class="content-header">
    <h1 class="title">{{ "Change Password"|trans }}</h1>
</section>
<section id="main" class="content">
    <div class="row">
        <div class="col-xs-12 form-actions">
            <div id="form-actions-row" class="col-sm-6 col-sm-offset-2">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal new-form' } }) }}
                <div class="form-group">
                    {{ form_row(form.current_password, {
                        "label" : "Current Password"|trans,
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.first, {
                        "label" : "New Password"|trans,
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.plainPassword.second, {
                        "label" : "Repeat New Password"|trans,
                        'attr': {'class': 'form-control'}
                    }) }}
                </div>

                <button class="btn btn-success form-group" type="submit">
                    <i class="fa fa-key"></i>
                    {{ 'change_password.submit'|trans }}
                </button>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>